*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    margin-left: 600px;
    color: gray;
    font-weight: bold;
    font-size: 25px;
}
div.box1 h3{
text-align: center;
} 
div.box1{
    width: 950px;
    height: 150px;
    border: 1px solid black;
    margin-left: 250px;
    background-color: rgb(244, 238, 238);
    box-shadow: 5px 5px 5px 5px #888888;
}
.chebtn{
    margin-left: 230px;
    margin-top: 12px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 130px;
    font-weight: bold;
    font-size: 18px;
}
.mumbtn{
    margin-left: 230px;
    margin-top: 12px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 130px;
    font-weight: bold;
    font-size: 18px;
}
div.box2 h3{
    text-align: center;
    }
div.box2{
    width: 950px;
    height: 250px;
    border: 1px solid black;
    margin-left: 250px;
    margin-top: 40px;
    background-color: rgb(244, 238, 238);
    box-shadow: 5px 5px 5px 5px #888888;
}
.pnc{
    margin-left: 200px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}
.pf{
    margin-left: 200px;
    margin-top: 12px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}
.cnc{
    margin-left: 200px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}
.cf{
    margin-left: 200px;
    margin-top: 12px;
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}

        /* Add some basic styling to the table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style the table header */
th {
    background-color: #f2f2f2;
}

/* Add some padding to the table cells */
td {
    padding: 12px;
}

/* Style the "Cancel" link */
a {
    color: #ff0000; /* Red color for the link */
    text-decoration: none;
}
