body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.lovi-text {
  color: white;
  font-size: 25px;
  margin-top: 6px;
  margin-left: -1055px;
  position: relative;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top:25px;
}

.product-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  border-radius: 8px;
}

.product-item h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.product-item button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #0056b3;
}

/* Additional styles can be added here if needed */
