<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TurfWebApp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TurfCreationServlet</display-name>
		<servlet-name>TurfCreationServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.TurfCreationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>findAllTurf</display-name>
		<servlet-name>findAllTurf</servlet-name>
		<servlet-class>in.fssa.turf.servlets.findAllTurf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTurfServlet</display-name>
		<servlet-name>AddTurfServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.AddTurfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateTurfServlet</display-name>
		<servlet-name>CreateTurfServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.CreateTurfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditUserServlet</display-name>
		<servlet-name>EditUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateTurfServlet</display-name>
		<servlet-name>UpdateTurfServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UpdateTurfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindByTurfIdServlet</display-name>
		<servlet-name>FindByTurfIdServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.FindByTurfIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAllTurfServlet</display-name>
		<servlet-name>GetAllTurfServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.GetAllTurfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteTurfServlet</display-name>
		<servlet-name>DeleteTurfServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.DeleteTurfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.CreateUserServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>GetUserByIdServlet</display-name>
		<servlet-name>GetUserByIdServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.GetUserByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetUsersServlet</display-name>
		<servlet-name>GetUsersServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.GetUsersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewUserServlet</display-name>
		<servlet-name>NewUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.NewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserServlet</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindAllUser</display-name>
		<servlet-name>FindAllUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.FindAllUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindByUserIdServlet</display-name>
		<servlet-name>FindByUserIdServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.FindByUserIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAllUserServlet</display-name>
		<servlet-name>GetAllUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.GetAllUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserrServlet</display-name>
		<servlet-name>UpdateUserrServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UpdateUserrServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserCreationServlet</display-name>
		<servlet-name>UserCreationServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UserCreationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddUserServlet</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateUserrServlet</display-name>
		<servlet-name>CreateUserrServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAllUsers</display-name>
		<servlet-name>GetAllUsers</servlet-name>
		<servlet-class>in.fssa.turf.servlets.GetAllUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListUserDetails</display-name>
		<servlet-name>ListUserDetails</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ListUserDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewUser</display-name>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.NewUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateUser</display-name>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.CreateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditUser</display-name>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.EditUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListUserDetail</display-name>
		<servlet-name>ListUserDetail</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ListUserDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListUsers</display-name>
		<servlet-name>ListUsers</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ListUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewUserr</display-name>
		<servlet-name>NewUserr</servlet-name>
		<servlet-class>in.fssa.turf.servlets.NewUserr</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUser</display-name>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>turfdetails</display-name>
		<servlet-name>turfdetails</servlet-name>
		<servlet-class>in.fssa.turf.servlets.turfdetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PersonDetails</display-name>
		<servlet-name>PersonDetails</servlet-name>
		<servlet-class>in.fssa.turf.servlets.PersonDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindAllTurf</display-name>
		<servlet-name>FindAllTurf</servlet-name>
		<servlet-class>in.fssa.turf.servlets.FindAllTurf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRegistration</display-name>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UserRegistration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserProfile</display-name>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>in.fssa.turf.servlets.UserProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>in.fssa.turf.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>in.fssa.turf.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Homepage</display-name>
		<servlet-name>Homepage</servlet-name>
		<servlet-class>in.fssa.turf.servlets.Homepage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Confirmation</display-name>
		<servlet-name>Confirmation</servlet-name>
		<servlet-class>in.fssa.turf.servlets.Confirmation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessFormServlet</display-name>
		<servlet-name>ProcessFormServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ProcessFormServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessRequestServlet</display-name>
		<servlet-name>ProcessRequestServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ProcessRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessAcceptServlet</display-name>
		<servlet-name>ProcessAcceptServlet</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ProcessAcceptServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListBooking</display-name>
		<servlet-name>ListBooking</servlet-name>
		<servlet-class>in.fssa.turf.servlets.ListBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TurfCreationServlet</servlet-name>
		<url-pattern>/TurfCreationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findAllTurf</servlet-name>
		<url-pattern>/findAllTurf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTurfServlet</servlet-name>
		<url-pattern>/AddTurfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTurfServlet</servlet-name>
		<url-pattern>/CreateTurfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserServlet</servlet-name>
		<url-pattern>/EditUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTurfServlet</servlet-name>
		<url-pattern>/UpdateTurfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindByTurfIdServlet</servlet-name>
		<url-pattern>/FindByTurfIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllTurfServlet</servlet-name>
		<url-pattern>/GetAllTurfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTurfServlet</servlet-name>
		<url-pattern>/DeleteTurfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUserrServlet</servlet-name>
		<url-pattern>/CreateUserrServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllUsers</servlet-name>
		<url-pattern>/GetAllUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUserDetails</servlet-name>
		<url-pattern>/ListUserDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUserDetail</servlet-name>
		<url-pattern>/ListUserDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUsers</servlet-name>
		<url-pattern>/ListUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUserr</servlet-name>
		<url-pattern>/NewUserr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>turfdetails</servlet-name>
		<url-pattern>/turfdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonDetails</servlet-name>
		<url-pattern>/PersonDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindAllTurf</servlet-name>
		<url-pattern>/FindAllTurf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/UserRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/UserProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Homepage</servlet-name>
		<url-pattern>/Homepage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Confirmation</servlet-name>
		<url-pattern>/Confirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessFormServlet</servlet-name>
		<url-pattern>/ProcessFormServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessRequestServlet</servlet-name>
		<url-pattern>/ProcessRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessAcceptServlet</servlet-name>
		<url-pattern>/ProcessAcceptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListBooking</servlet-name>
		<url-pattern>/ListBooking</url-pattern>
	</servlet-mapping>
	
</web-app>